<div class="w-full flex justify-center pt-6">
  <div class="w-full sm:w-[75%] md:w-[75%] lg:w-[50%] xl:w-[40%] overflow-x-auto shadow-md rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-400">
            <caption class="text-gray-900/80 bg-pattern-tpgraphy bg-current p-5 text-left">
              <div class="flex flex-row justify-between items-center">
                <p class="text-white text-lg font-semibold"><%= t('.mining_types') %></p>
                <%= link_to t('.new_mining_type'), new_mining_type_path, class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" %>
              </div>
              <p class="mt-1 text-sm font-normal text-gray-400"> <%= t('.types_text') %></p>
            </caption>
          <thead class="text-xs uppercase bg-gray-700 text-gray-400">
              <tr>
                  <th scope="row" class="px-6 py-3">Nome</th>
                  <th scope="row" class="px-6 py-3">Sigla</th>
                  <th scope="row" class="px-2 py-2 text-right" rowspan="2"><%= t('.show_edit') %> </th>
              </tr>
          </thead>
          <tbody>
            <% @mining_types.each do |mining_type| %>
              <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
                  <td class="px-6 py-2 font-medium whitespace-nowrap text-white">
                    <%= mining_type.description %>
                  </td>
                  <td class="px-6 py-2">
                    <%= mining_type.acronym %>
                  </td>
                  <td class="px-6 py-2 flex justify-end space-x-2">
                    <%= link_to mining_type do %>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-7 h-7 hover:text-cw-purple-500 ease-out duration-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 15.75-2.489-2.489m0 0a3.375 3.375 0 1 0-4.773-4.773 3.375 3.375 0 0 0 4.774 4.774ZM21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                    <% end %>
                    <%= link_to edit_mining_type_path(mining_type) do %>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-7 h-7 hover:text-cw-purple-500 ease-out duration-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                      </svg>
                    <% end %>
                  </td>
              </tr>
            <% end %>
          </tbody>
      </table>
  </div>
</div>
