<div class="w-full sm:w-1/2 md:w-1/2 lg:w-2/5">
  <div class="container">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
              <%= t('mining_type') %>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="row" class="px-6 py-3">Nome</th>
                    <th scope="row" class="px-6 py-3">Sigla</th>
                    <th scope="row" class="px-6 py-3" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
              <% @mining_types.each do |mining_type| %>
                <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
                    <td class="px-6 py-2 font-medium whitespace-nowrap text-white">
                      <%= mining_type.description %>
                    </td>
                    <td class="px-6 py-2">
                      <%= mining_type.acronym %>
                    </td>
                    <td class="px-6 py-2 flex flex-col items-end">
                      <%= link_to t('show'), mining_type, class: "font-medium text-blue-600 hover:underline" %>
                      <%= link_to t('edit'), edit_mining_type_path(mining_type), class: "font-medium text-blue-600 hover:underline" %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
