<div class="w-full flex mt-4 sm:px-4 justify-center">
  <div class="w-full sm:w-4/5 md:w-2/3">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-400">

              <caption class="bg-gray-800 p-5 text-left">
                <div class="flex flex-row justify-between items-center">
                  <p class="text-white text-lg font-semibold"><%= t('cripto_coin') %></p>
                    <%= link_to t('new_coin'), new_coin_path, class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" %>
                </div>
                <p class="mt-1 text-sm font-normal text-gray-400"> <%= t('cripto_text') %></p>
              </caption>

            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="row" class="px-6 py-3">Moeda</th>
                    <th scope="row" class="px-6 py-3">Sigla</th>
                    <th scope="row" class="px-6 py-3">Ícone</th>
                    <th scope="row" class="px-6 py-3">Tipo de Mineração</th>
                    <th scope="row" class="px-6 py-3" rowspan="2"></th>
                </tr>
            </thead>
            <tbody>
              <% @coins.each do |coin| %>
                <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
                    <td class="px-6 py-2 font-medium whitespace-nowrap text-white">
                      <%= coin.description %>
                    </td>
                    <td class="px-6 py-2">
                      <%= coin.acronym %>
                    </td>
                    <td class="px-6 py-2">
                      <%= image_tag coin.url_image, size: '25x25', style: 'margin:0px;vertical-align:middle' %>
                    </td>
                    <td class="px-6 py-2">
                      <%= coin.mining_type.description %>
                    </td>
                    <td class="px-6 py-2 flex flex-col items-end">
                      <%= link_to t('show'), coin, class: "font-medium text-blue-600 hover:underline" %>
                      <%= link_to t('edit'), edit_coin_path(coin), class: "font-medium text-blue-600 hover:underline" %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
