<div class="w-full flex justify-center pt-5">
  <div class="flex flex-col p-6 w-[95%] sm:w-[75%] md:w-[50%] lg:w-[40%] xl:w-[25%] justify-center items-center bg-gray-800 rounded-xl">
    <h1 class="text-white text-4xl pl-5"><%= @coin.description.titleize %> - <%= @coin.mining_type.acronym %></h1>
    <div>
      <%= image_tag @coin.url_image, size: 250, class: 'py-10' %>
    </div>
    <div>
      <%= link_to t('back'), coins_path, type: :button, class: "w-1/2 text-center cursor-pointer bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded cursor-pointer" %>
      <%= link_to t('destroy'), coin_path, data: {'turbo-method': :delete, 'turbo-confirm': t('confirmation_msg')}, type: :button, class: "w-1/2 text-center cursor-pointer bg-red-500 hover:bg-red-700 text-white py-1 px-4 rounded cursor-pointer" %>
    </div>
  </div>
</div>
