<div class="w-full flex justify-center pt-5">
  <div class="flex flex-col p-6 w-[95%] sm:w-[75%] md:w-[50%] lg:w-[40%] xl:w-[25%] justify-center items-center bg-gray-800 rounded-xl">
    <h1 class="text-white text-4xl pl-5"><%= @coin.description.titleize %> - <%= @coin.mining_type.acronym %></h1>
    <div>
      <%= image_tag @coin.image_as_thumbnail %>
      <%= link_to @coin.image, target: "_blank", alt: "#{@coin.description.titleize} logo" do %>
        <span class="flex my-3 text-white text-sm hover:text-cw-purple-500 hover:underline items-center justify-center">
          <p><%= t('.image_full_size') %></p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 mx-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </span>
      <% end %>
    </div>
    <div>
      <%= link_to t('.back'), coins_path, type: :button, class: "w-1/2 text-center bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded cursor-pointer" %>
      <%= link_to t('.destroy'), coin_path, data: {'turbo-method': :delete, 'turbo-confirm': t('alerts.confirmation_msg')}, type: :button, class: "w-1/2 text-center bg-red-500 hover:bg-red-700 text-white py-1 px-4 rounded cursor-pointer" %>
    </div>
  </div>
</div>
